<h2>Quick overview - {{ player.name }}</h2>
<div class="container">
  <div class="donut">
    <div [id]="player.id"></div>
  </div>
  <div class="games">
    <h1>{{ player.gamesPlayed }}</h1>
    <p>Total games</p>
  </div>
  <div class="tournaments">
    <h1>{{ player.tournamentsPlayed }}</h1>
    <p>Total tournaments</p>
  </div>
  <div class="winningodd">
    <h1>{{ player.averageWinningOdd }}</h1>
    <p>Average winning odd</p>
  </div>
  <div class="losingodd">
    <h1>{{ player.averageLosingOdd }}</h1>
    <p>Average losing odd</p>
  </div>
</div>

<app-betting id="betting-{{ player.id }}" [htmlId]="player.id"></app-betting>
