<h2>Quick overview</h2>
<div class="container">
    <div class="donut">
        <div [id]="htmlId"></div>
    </div>
    <div class="games">
        <h1>137</h1>
        <p>Total games</p>
    </div>
    <div class="tournaments">
        <h1>23</h1>
        <p>Total tournaments</p>
    </div>
    <div class="winningodd">
        <h1>0.89</h1>
        <p>Average winning odd</p>
    </div>
    <div class="losingodd">
        <h1>1.02</h1>
        <p>Average losing odd</p>
    </div>
</div>

<app-betting htmlId="betting-player"></app-betting>

<app-divergingbar
></app-divergingbar>