<form>
  <mat-form-field appearance="standard">
    <mat-label>Player</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Player"
      matInput
      [formControl]="playerControl"
      [matAutocomplete]="autoPlayer"
    />
    <mat-autocomplete
      #autoPlayer="matAutocomplete"
      (optionSelected)="updatePlayer($event)"
    >
      <mat-option
        *ngFor="let option of filteredOptionsPlayer | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Opponent</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Opponent"
      matInput
      [formControl]="opponentControl"
      [matAutocomplete]="autoOpp"
    />
    <mat-autocomplete
      #autoOpp="matAutocomplete"
      (optionSelected)="updateOpponent($event)"
    >
      <mat-option
        *ngFor="let option of filteredOptionsOpponent | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
