<main>
  <!-- <app-top-bar></app-top-bar> -->

  <div class="container">
    <mat-card class="overview-player">
      <app-overview [isOpponent]="false" [player]="player" [barColor]="playerColor"></app-overview>
    </mat-card>
    <mat-card class="overview-opponent">
      <app-overview [isOpponent]="true" [player]="opponent" [barColor]="opponentColor"></app-overview>
    </mat-card>
    <mat-card class="head-to-head">
      <app-rival [player]="player" [opponent]="opponent"></app-rival>
    </mat-card>
    <mat-card class="performance-stats">
      <app-divergingbar></app-divergingbar>
    </mat-card>
    <mat-card class="surface">
      <app-surface></app-surface>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</main>