main {
  margin: 1em;
}

.container {
  height: calc(100vh - 4em - 50px);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "overview overview overview surface surface surface surface surface betting betting betting betting"
    "geo geo geo geo geo geo rival rival rival rival rival rival";
}

.overview {
  grid-area: overview;
}

.surface {
  grid-area: surface;
}

.betting {
  grid-area: betting;
}

.geo {
  grid-area: geo;
}

.rival {
  grid-area: rival;
}

mat-card {
  padding-top: 0;
  overflow: scroll;

  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
}