#diverging text {
    opacity: 0.5;
    stroke: black;
}

#diverging>svg>g:last-child>g>text {
    font-size: 0.9rem;
    transform: translateY(-8px);
}

.value {
    font-size: 0.8rem !important;
    transform: translateY(-2px);
}

h2,
#diverging,
#diverging>svg {
    margin-bottom: 0;
}