/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$player-color: #6fd371;
$player-color-blind: #6dadee;
$opp-color: #ea6f59;
$opp-color-blind: #ea6f59;
$na-color: #bfbfbf;

h2 {
  color: #bababa;
  font-size: 0.9rem !important;
}

h3 {
  color: #bababa;
  font-size: 0.9rem !important;
}
